<%- include header %>
<ul class="nav navbar-nav">
    <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> 主页</a></li>
    <li class="active"><a href="ad-book.html"><span class="glyphicon glyphicon-book"></span> 书籍管理</a></li>
    <li><a href="ad-user.html"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
    <li><a href="ad-talk.html"><span class="glyphicon glyphicon-comment"></span> 讨论组管理</a></li>
    <li><a href="ad-chat.html"><span class="glyphicon glyphicon-bullhorn"></span> 聊天管理</a></li>
    <li><a href="ad-other.html"><span class="glyphicon glyphicon-cog"></span> 其他设置</a></li>
</ul>

<!-- right -->
<ul class="nav navbar-nav navbar-right">
    <li>
        <form class="navbar-form" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Book Search">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span
                                                    class="glyphicon glyphicon-search"></span></button>
									</span>
                </div>
            </div>
        </form>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>
<!-- /.header -->

<!-- middle-content -->
<div class="container-fluid middle-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="ad-book.html"><span class="glyphicon glyphicon-stats"></span> 书籍概览</a></li>
                <li class="active"><a href="ad-book-list.html"><span class="glyphicon glyphicon-book"></span> 书籍列表</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="ad-book-add.html"><span class="glyphicon glyphicon-plus"></span> 添加书籍</a></li>
                <li><a href="ad-book-star.html"><span class="glyphicon glyphicon-star"></span> 推荐列表</a></li>
                <li><a href="/restore_book"><span class="glyphicon glyphicon-star"></span> 重置书籍</a></li>
            </ul>
        </div>
        <!-- /.sidebar -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">书籍列表</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>出版社</th>
                        <th>归属人</th>
                        <th>状态</th>
                        <!--<th>赞 / 踩 / 评</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for ( n in books ) { %>
                    <tr>
                        <td><%- n %></td>
                        <td><a href="/book/<%= books[n]['ISBN'] %>"><%- books[n]['name'] %></a></td>
                        <td><%- books[n]['author'] %></td>
                        <td><%- books[n]['from'] %></td>
                        <td><%- books[n]['owner'] %></td>
                        <td><%- books[n]['stock'] %> 本可借</td>
                        <td><a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span>
                                改</a> <a href="/bookremove/<%= books[n]['_id'] %>" class="btn btn-xs btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span> 删</a></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <div class="text-center">
                <nav>
                    <ul class="pagination">
                        <% if (!isFirstPage) { %>
                        <li><a href="?p=<%= page - 1 %>">
                                <% }else{ %>
                                <li class="disabled"><a href="#">
                                        <% } %>
                                        &laquo; 上一页</a></li>
                                <li class="active"><a href="#"><%= page %></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>

                                <% if (!isLastPage) { %>
                                <li><a href="?p=<%= page + 1 %>">
                                        <% }else{ %>
                                        <li class="disabled"><a href="#">

                                                <% } %>
                                                下一页 &raquo;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /.main -->
    </div>
    <!-- /.row -->
</div><!-- /.middle-content -->
<%- include footer %>